<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{txt}}
        </div>

        {{>footer}}
    </body>
</html>